{% extends "bank/layout.html" %}

{% block title %}Bank of Kat - Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col card bg-light" style="margin: 8px;">
            <div class="card-body">
                <h6 class="card-title"><strong>FREE</strong> $50 with When You Open a New Savings Account</h6>
                <div class="card-text">For a limited time, get $50 for free when you open a new standard savings account.</div>
            </div>
        </div>
    </div>
{% endblock %}
